$primary-color: #222;
$secondary-color: rgb(241, 124, 45); // #ff5f13;
// $secondary-color: #ff5f13;
$text-color: #777;
$header-color: #fff;
$white: rgb(255, 255, 255);
$dark: #333;
$black: #111;

$darkbleu-bgcolor : rgba(4,9,30,0.9);
$default-border-radius: 0.5rem;

$light-weight: 400;
$xs-family: "Poppins",sans-serif;
$lg-transition: all 0.5s ease-in-out;
$sm-transition: all 0.3s ease-in-out;

// $mobile: 480px;
// $tablet: 768px;
// $desktop: 1200px;

// screen sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;