@import '../../assets/scss/variable';
@import '../../assets/scss/mixins';

.products_section {
  width: 100%;
  min-height: 700px;
  background-color: $header-color;
}

.products_section_one {
  background-color: $header-color;
  padding: 3rem 1rem;
}

.products_header {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  // background-color: aqua;

  .products_title {
    width: 80%;
    margin: 1rem auto;
    text-align: center; 
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;

    &::after{
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background-color: $secondary-color;
      margin: 1rem auto 0;
    }        
  }

  .products_text {
    width: 90%;
    text-align: center; 
    // color: $secondary-color;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    max-width: 780px;
    margin: 1rem auto;
  }
}

.products_wrapper {
  width: 100%;
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  // background-color: rgb(236, 204, 232);
}

.product_item {
  // background-color: #fff;
  background-color: rgba(0,0,0,0.02);
  width: 100%;
  max-height: 680px;
  max-width: 375px;
  @include d-flex(flex-start, center);
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all .3s ease;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 8px;

  
  .product_item_img {
    width: 100%;
    height: 95%;
    border-radius: 8px;
    // background-color: aqua;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product_item_content {
    // width: 100%;
    @include d-flex(flex-end, center);
    flex-direction: column;
    // position: absolute;
    // // top: 0;
    // left: 0;
    // bottom: 0%;
    // transform: translateY(-25%);
    // visibility: hidden;
    // transition: transform .3s ease;

    p {
      // color: $text-color;
      color: $primary-color;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem;
    }
    
    button {
      margin: 0 auto 1rem;
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem 1rem;
      border: 1px solid $secondary-color;
      border-radius: 4px;
      transition: all 0.3s ease;
      a {
        color: $secondary-color;
      }
      &:hover {
        background-color: $secondary-color;
        
        a {
          color: $header-color;
        }
      }
    }
  }
}


@include media(480px) {
  .products_wrapper {

  }

  .product_item {
    max-width: 400px;

    .product_item_img {
      // background-color: aqua;
      // height: 85%;
      height: 525px;
    }
  }
  
}

@include media(768px) {
  .products_wrapper {
    width: calc(700px + 3rem + 2rem);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .product_item {
    width: 350px;
    // width: 40vw;
  
    .product_item_img {
      // background-color: aqua;
      // height: 85%;
      height: 460px;
    }
  }
}

@include media(992px) {
  .products_wrapper {
    width: calc(800px + 3rem + 2rem);
  }

  .product_item {
    width: 400px;
    // width: 40vw;

    .product_item_img {
      height: 525px;
    }
  }
}

@include media(1200px) {
  .products_wrapper {
    width: calc(1050px + 6rem + 2rem);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  .product_item {
    width: 350px;

    .product_item_img {
      height: 460px;
    }
  }
}

@include media(1400px) {
  .products_wrapper {
    width: calc(1200px + 6rem + 2rem);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  .product_item {
    width: 400px;

    .product_item_img {
      height: 525px;
    }
  }
}

.products_section_two {
  width: 100%;
  padding: 1rem;
}

.products_details_wraper {
  width: 100%;
  padding: 5rem 0;
  @include d-flex(center, center);
  flex-direction: column;
  gap: 3rem 0;
}

.product_details {
  // background: linear-gradient(to top, rgba(29, 23, 17, 0.75), rgba(39, 48, 142, 0.4)),
  // url('../../assets/images/home-bg1.jpg') fixed top right;
  // background: linear-gradient(to top, rgba(29, 23, 17, 0.841), rgba(7, 9, 34, 0.824)),
  // url('../../assets/images/img6.jpg') fixed top right;
    background: linear-gradient(to top, rgba(29, 23, 17, 0.313), rgba(14, 18, 60, 0.193)),
  url('../../assets/images/poducts-bg.jpg') fixed top right;
  // opacity: 0.9;
  filter: contrast(1.1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  @include d-flex(space-between, center);
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.4rem;

  .product_img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    height: 640px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
 
  .product_content {
    // margin: 0 auto;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    // padding: 1rem;
    // background-color: rgb(180, 216, 248);
    text-align: center; 

    h3 {
      color: $header-color;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1rem 0;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5rem 0;

      a {
        height: 100%;
        @include d-flex(center, center);
        column-gap: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        color: $secondary-color;
        text-transform: capitalize;
        transition: all .3s ease;

        &:hover {
          column-gap: 1rem;
        } 
      }
    }
  }
}


@include media(480px) {
  .product_details {
    border-radius: 0.6rem;

    .product_content {
      // margin: 0 auto;
      width: 80%;
      max-width: 480px;
      margin: 0 auto;
      padding: 1rem;
      // background-color: rgb(180, 216, 248);
  
      // h3 {
      //   text-align: left; 
      // }
      }
  
    // .product_img {
    //   max-width: 400px;
    //   width: 400;
    //   height: 525px;
    //   border-radius: 8px;
    //   // background-color: aqua;
    // }
  }
}

@include media(768px) {
  .product_details {
    // @include d-flex(space-between, flex-start);
    flex-direction: row;
    border-radius: 0.8rem;
    // gap: 16rem;

    .product_img {
      // width: 350px;
      // height: 460px;
    }
    .product_content {
      // background-color: aqua;
      // margin: 0 auto;
      width: auto;
      max-width: 340px;
      flex-grow: 2;
      padding: 0 4rem;
      text-align: left; 
      border-radius: 4px;
  
      p a {
        height: 100%;
        @include d-flex(flex-start, center);
      }
      
    }
    
    &:nth-child(even) .product_content {
      order: -1;
    }
  }

}

@include media(992px) {
  .product_details {
    // width: 90%;
    margin: 0 auto;
    border-radius: 1rem;

    // .product_img {
    //   width: 350px;
    //   height: 460px;
    // }
    .product_content {
      max-width: 400px;
    }
  }
}

@include media(1200px) {
  .product_details {
    width: 90%;
    max-width: 1300px;
  }
}