@import '../../assets/scss/variable';
@import '../../assets/scss/mixins';
@import '../../assets/scss/config';

// filter: blur(5px);

.header_container {
  max-width: 100%;
}

.header-scrolled {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  right: 0;
  padding: 0 1rem;
  transition: $lg-transition;

  &::after {
    content: '';
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #39353e;
  }

  &.colorChange {
    background-color: $darkbleu-bgcolor;

    &::after {
      display: none;
    }

    &::before {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #77777747;
    }
  }

  .logo {
    z-index: 3;
    width: 80px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
// Hamburger
  .hamburger-lines button {
    color: $header-color;

    .burger_class {
      font-size: 28px;
    }
  }
  
  .nav_menu {
    position: fixed;
    top: calc(70px + 50px);
    bottom: 0;
    left: -260px;
    // width: 100%;
    width: 260px;
    padding-top: 5rem;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
    overflow-y: auto;
    transition: 0.4s;

    &.show {
      left: 0;
    }

    & > li {
      font-size: 12px;
      text-transform: uppercase;
      overflow: hidden;
      margin: 0.5rem 1rem;
      position: relative;
      font-weight: 400;
      // background-color: red;
      
      a {
        width: 100%;
        height: 100%;
        padding: 1rem 0.5rem;
        padding-right: 5px;
        display: block;;
        @include d-flex(space-between, center);
        @extend %btn-clicked;
        // background-color: rgba(64, 224, 208, 0.082);
        background-color: #f7641b11;
      }

      span {
        // transform: translateX(-20px);
      }
    }
  }
}

@include media(480px) {
  .header-scrolled {
    top: 40px;
    padding: 0 5%;

    &::after {
      width: 94%;
      left: 3%;
      right: 3%;
    }

  
    .logo {
      width: 90px;
    }

    .hamburger-lines button .burger_class {
      font-size: 32px;
    }

    .nav_menu {
      top: calc(70px + 40px);

      & > li {
        font-size: 13px;
      }
    }
  }
}

@include media(768px) {
  .header-scrolled {

    .logo {
      width: 100px;
    }

    .hamburger-lines button .burger_class {
      font-size: 38px;
    }

    .nav_menu {
      & > li {
        font-size: 14px;
      }
    }
  }
}

@include media(992px) {
  .header-scrolled {
    top: 50px;
    height: 80px;
    @include d-flex(space-around, center);

    .hamburger-lines {
      display: none;
    }

    .navbar {
      width: 70%;
      @include d-flex(flex-end, center);
    }

    .logo {
      width: 130px;
    }

    .nav_menu {
      position: static;
      width: 100%;
      max-width: 550px;
      padding-top: 0;
      background-color: transparent;
      @include d-flex(flex-end, center);
      flex-direction: row;

      & > li {
        // flex: 1;
        min-width: 70px;
        margin: 4px;
        padding: 0;
        white-space: nowrap;
        
        a {
          width: auto;
          padding: 3px 6px;
          background-color: transparent;
          display: block;
          text-align: center;

          &:hover {
            background-color: transparent;
            color: $secondary-color;
          }
        }
  
        span {
          display: none;
        }
      }
    }
  }
}


@include media(1200px) {
  .header-scrolled {
    padding: 0 3%;


    &::after {
      width: 96%;
      left: 2%;
      right: 2%;
    }

    .logo {
      width: 150px;
    }

    .nav_menu {
      & > li {
        font-size: 15px;
      }
    }
  }
}
