@import '../../assets/scss/variable';
@import '../../assets/scss/mixins';

.footer_section {
  width: 100%;
  background-color: $darkbleu-bgcolor;
}

.footer_one {
  width: 100%;
  padding: 3rem 1rem 2rem;
}

.footer_lists {
  width: 100%;
  margin: 0 auto;
  @include d-flex(center, center);
  flex-flow: wrap;
  gap: 1rem 2rem;

  & > li {
    width: 100%;
    max-width: 400px;
    font-size: 0.875rem;
    // margin: 0.5rem 1rem;
    padding: 1rem;
    font-weight: 400;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
      color: $header-color;
    }
    
    .item_content {
      p {
        @include d-flex(flex-start, flex-start);
        column-gap: 4px;
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.625em;

        &.contact > svg {
          margin-top: 7px;
        }
      }
      
      p > a {
        @include d-flex(flex-start, center);
        color: $text-color;
      }

      svg {
        font-size: 1.3rem;
        color: $header-color;
        margin-right: 0.6rem;
      }

      .social_media_wrapper a svg {
        background-color: rgba(255, 255, 255, 0.1);
        margin-top: 0.275rem;
        padding: 0.4rem;
        font-size: 2rem;
        border-radius: 50%;
        transition: all 0.3s ease;
        box-shadow: 0px 11px 32px -12px $text-color;

        &:hover {
          background-color: $secondary-color;
          color: $header-color;
        }
      }
    }
  }
}




.footer_copy_right {
  width: 100%;
  height: 80px;
  @include d-flex(space-between, center);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $secondary-color;
  color: $header-color;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  position: relative;
    // position: absolute;
  // z-index: 2;
  // top: 60px;
  // left: 0;
  // right: 0;

  p {
    @include d-flex(center, center);
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;

    span {
      margin-left: 2px;
    }

    svg {
      transform: translateY(2px);
      font-size: 1rem;
    }

    a {
      color: $header-color;
      font-weight: 700;
      text-decoration: underline;
    }
  }  
}

@include media(480px) {
  .footer_lists {
    @include d-flex(space-around, flex-start);
    flex-flow: row wrap;
    width: 95%;

    & > li {
      width: 40vw;
      max-width: 280px;
    }
  }

  .footer_copy_right {
    height: 60px;
  }
}

@include media(768px) {

  .footer_lists {
    width: 90%;
    gap: 1rem 3rem;

    & > li {
      width: 25vw;
    }
  }

  .footer_copy_right {
    width: 80%;
    max-width: 992px;
  
    &::after{
      content: '';
      display: block;
      width: 100px;
      height:100%;
      position: absolute;
      top: 0;
      right: 100px;
      -webkit-transform: matrix(1, 0, 0.9, 1, 150, 0);
      -ms-transform: matrix(1, 0, 0.9, 1, 150, 0);
      transform: matrix(1, 0, 0.9, 1, 150, 0);
      background-color: $secondary-color;
    }   
  }
  
}

@include media(992px) {
  .footer_lists {
    width: 95%;
    flex-flow: row wrap;

    & > li {
      width: 30vw;

    }
  }

  .footer_copy_right {
    width: 80%;
    max-width: 1200px; 
  }
}

@include media(1200px) {
  .footer_lists {
    max-width: 1400px;
    flex-flow: row nowrap;

    & > li {
      max-width: 320px;
    }
  }
}